<div id="post-feed-side-bar" >
  <mat-card-actions>
    <p><mat-icon class="action-item" color="white">group</mat-icon>&nbsp;&nbsp;&nbsp;
    <span>Bạn bè</span></p>

    <p><mat-icon class="action-item" >smart_display</mat-icon>&nbsp;&nbsp;&nbsp;
    <span>Video</span></p>

    <p><mat-icon class="action-item" >history</mat-icon>&nbsp;&nbsp;&nbsp;
      <span>Kỷ niệm</span></p>

    <p><mat-icon class="action-item" >bookmark</mat-icon>&nbsp;&nbsp;&nbsp;
      <span>Đã lưu</span></p>

    <p><mat-icon class="action-item" >diversity_3</mat-icon>&nbsp;&nbsp;&nbsp;
      <span>Nhóm</span></p>

    <hr style="margin-left: 2cm;">
    <div id="content" style="text-align: left; margin-left: 2.2cm;">
      <p style="font-weight: bold;">Bạn bè</p>
      <div *ngFor="let friend of friends" class="friend">
        <div class="friend-avatar"  (click)="navigateToPersonalPage(friend)">
          <img [src]="friend.profilePictureUrl" alt="Avatar">
        </div>
        <div class="friend-info">
          <p class="profile-name"  (click)="navigateToPersonalPage(friend)">{{ friend.publicName }}</p>
        </div>
      </div>
    </div>
  </mat-card-actions>
</div>



