#post-feed-side-bar {
  width: 20%;
  position: fixed;
  right: 0;
  top: 5em;
  color: white;

}
#post-feed-side-bar .mat-icon{
  margin-top: 0.5cm;
  margin-left: 2cm;
}
#content p{
  margin-top:0.5cm;
}
.profile-picture img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-info {
  flex-grow: 1;
}
.profile-name {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.profile-info{
  color: #ffffff;
  font-weight: normal;
}
.profile{
  display: flex;
}
.friend-avatar {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.friend-avatar img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.friend{
  display: flex;
}
@media (max-width: 480px) {
  #post-feed-side-bar span {
    display: none;
  }
  #post-feed-side-bar {
    right: 2.7%;
    color: white;
    width: auto;
    text-align: center;
    font-size: small;
  }
  .friend-avatar img{
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  #post-feed-side-bar span {
    display: none;
  }
  #post-feed-side-bar {
    right: 2.7%;
    color: white;
    width: auto;
    text-align: center;
    font-size: small;
  }
}
 @media (min-width: 769px) and (max-width: 1300px) {
  #post-feed-side-bar{
    width: 25%;
  }
}
