#post-feed-side-bar {
  width: 20%;
  position: fixed;
  right: 0;
  top: 5em;
  color: white;

}
#post-feed-side-bar .mat-icon{
  margin-top: 0.5cm;
  margin-left: 2cm;
}
#content p{
  margin-top:0.5cm;
}
