<!-- <div id="side-bar">
  <mat-card-actions>
    <mat-icon class="action-item" color="white">group</mat-icon>
    <span>Bạn bè</span>
    <mat-icon class="action-item" color="warn">favorite_border</mat-icon>
    <span></span>
    <mat-icon class="action-item" color="white">save</mat-icon>
  </mat-card-actions>
</div> -->
<div id="post-feed-side-bar" >

  <mat-card-actions>
    <p><mat-icon class="action-item" color="white">group</mat-icon>&nbsp;&nbsp;&nbsp;
    <span>Bạn bè</span></p>

    <p><mat-icon class="action-item" >smart_display</mat-icon>&nbsp;&nbsp;&nbsp;
    <span>Video</span></p>

    <p><mat-icon class="action-item" >history</mat-icon>&nbsp;&nbsp;&nbsp;
      <span>Kỷ niệm</span></p>

    <p><mat-icon class="action-item" >bookmark</mat-icon>&nbsp;&nbsp;&nbsp;
      <span>Đã lưu</span></p>

    <p><mat-icon class="action-item" >diversity_3</mat-icon>&nbsp;&nbsp;&nbsp;
      <span>Nhóm</span></p>

    <hr style="margin-left: 2cm;">
    <div id="content" style="text-align: left; margin-left: 2.2cm;">
      <p style="font-weight: bold;">Nhắn tin</p>
      <p>Chuppachup</p>
      <p>baesuzy___</p>
      <p>Pearh</p>
      <p>miecute</p>
      <p>keikyoshu</p>
      <p>cừu cừu cừu</p>
    </div>


  </mat-card-actions>
