<!-- <div id="body">
  <app-sidebar></app-sidebar>
  <div class="container">
    <img class="main-image" [src]="mainImageSrc || 'default-main-image-url.jpg'" alt="Main Image" (click)="onMainImageClick()">
    <input type="file" id="main-image-input" (change)="onMainImageChange($event)" style="display: none;">
      <div class="profile-picture">
        <img [src]="profilePictureSrc || 'default-profile-picture-url.jpg'" alt="Profile Picture" (click)="onProfilePictureClick()">
        <input type="file" id="profile-picture-input" (change)="onProfilePictureChange($event)" style="display: none;">
      </div>
  </div>




      <div class="profile-page">

          <div class="profile-details">
               <div class="action-buttons">
                  <div class="folleeting-button">
                      <div class="folleeting-text">Kết bạn</div>
                  </div>
              </div>
              <div class="main-details">
                  <div class="profile-name">{{ profileName }}</div>
                  <div class="profile-handle">{{ profileHandle }}</div>

                  <ng-container *ngFor="let post of userPosts">
                    <app-post [postData]="post"></app-post>
                  </ng-container>
              </div>
          </div>
      </div>
      <button (click)="onCreatePostClick()" mat-fab  id="post-button">
        <mat-icon class="button-icon">add</mat-icon>
        <span class="button-text">Đăng bài</span>
      </button>
  </div>

 -->


 <div id="body">
  <app-sidebar></app-sidebar>
  <div class="container">
    <img class="main-image" [src]="mainImageSrc || 'default-main-image-url.jpg'" alt="Main Image" (click)="onMainImageClick()">
    <input type="file" id="main-image-input" (change)="onMainImageChange($event)" style="display: none;">
    <div class="profile-picture">
      <img [src]="profilePictureSrc || 'default-profile-picture-url.jpg'" alt="Profile Picture" (click)="onProfilePictureClick()">
      <input type="file" id="profile-picture-input" (change)="onProfilePictureChange($event)" style="display: none;">
    </div>
  </div>

  <div class="profile-page">
    <div class="profile-details">
      <div class="action-buttons" *ngIf="currentUserId && currentUserId !== userId">
        <ng-container [ngSwitch]="friendRequestStatus">
          <button *ngSwitchCase="'none'" (click)="toggleFriendRequest()">Kết bạn</button>
          <button *ngSwitchCase="'sent'" class="friend-request-sent" (click)="toggleFriendRequest()">Đã gửi lời mời kết bạn</button>
          <div *ngSwitchCase="'received'">
            <button class="accept-button" (click)="acceptFriendRequest()">Đồng ý kết bạn</button>
            <button class="decline-button" (click)="declineFriendRequest()">Từ chối</button>
          </div>
          <button *ngSwitchCase="'friends'" class="friends-button" (click)="openRemoveFriendDialog()">Bạn bè</button>
        </ng-container>
      </div>
      <div class="main-details">
        <div class="profile-name">{{ profileName }}</div>
        <div class="profile-handle">{{ profileHandle }}</div>

        <ng-container *ngFor="let post of userPosts">
          <app-post [postData]="post"></app-post>
        </ng-container>
      </div>
    </div>
  </div>

  <button (click)="onCreatePostClick()" mat-fab id="post-button">
    <mat-icon class="button-icon">add</mat-icon>
    <span class="button-text">Đăng bài</span>
  </button>
</div>
