#body {
  font-family: 'Quicksand', sans-serif;
  background-color: #1D1929;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 6em;
  display: flex;
  flex-direction: column; /* Thay đổi thành column để hiển thị cả hai khối */
  align-items: center;
}


.container {
  position: relative;
  width: 55%;
  height: 451.39px;
  margin-bottom: 2em; /* Thêm khoảng cách giữa các phần */
}

.main-image {
  width: 100%;
  height: 90%;
  border-radius: 20px;
  object-fit: cover;
}

.profile-picture {
  position: absolute;
  bottom: -4%;
  left: 5%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid transparent;
  background: linear-gradient(to right bottom, #ffffff, #000000) border-box;
  overflow: hidden;

}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-page {
  margin: 0 auto;
  width: 55%;
}


.profile-details {
  padding: 20px;

}

.profile-details .profile-picture img {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  margin-top: -60px;
  border: 5px solid #ffffff;
  background-color: #c4c4c4;

}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: -56px;
}

.action-buttons img {
  margin-left: 15px;
  cursor: pointer;
}

.action-buttons button{
  color: #000000;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  font-weight: bolder;
}


.action-buttons button:hover {
  background-color: #000000a0;
  color: white;
}
.action-buttons .friend-request-sent {
  background-color: rgb(0, 0, 0);
  color: white;
}
.action-buttons .accept-button{
  background-color: rgb(77, 75, 72);
  color: white;
  margin-right: 5px;
}
.action-buttons .decline-button{
  background-color: #b8b8b8;
  color: #ffffff;
}
.action-buttons .friends-button {
  background-color: transparent;
  background-image: linear-gradient(to top right, rgb(94, 255, 250), rgb(132, 0, 255));
  color: white;
}

.main-details .profile-name {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 3% 5px;
}


.profile-handle {
  font-size: 16px;
  color: #8a98a4;
  margin-bottom: 2cm;
  margin-left: 3%;
}


#post-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-image: linear-gradient(to right bottom, #6a5af9, #f62682);
  transition: width 0.5s, padding 0.5s, border-radius 0.5s;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 50%;
}

#post-button:hover {
  width: 145px;
  height: 56px;
  color: white;
  background-image: linear-gradient(to right bottom, #f62682, #e5f626);
  justify-content: flex-start;
  border-radius: 28px;
}

#post-button:hover .button-icon {
  animation: rotate-icon 1s ease-in-out;
  margin-right: 2px; /* Space between icon and text */
}

.button-icon{
  margin-left: 36%;
  margin-right: 0px;
}
@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-text {
  opacity: 0;
  transition: opacity 0.5s;
}

#post-button:hover .button-text {
  opacity: 1; /* Show text on hover */
}


