
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  z-index: 10;
}

#nav-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #1D1929;
}

#nav-bar-left {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.5cm 3cm 0cm 0cm;
  color: white;
  box-sizing: border-box;
  margin-bottom: 1cm;
}
 #nav-bar-right {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.5cm 1cm 0cm 2.5cm;
  color: white;
  box-sizing: border-box;
  margin-bottom: 1cm;
}
 #nav-bar-center, .navbar-search {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  box-sizing: border-box;
  margin-bottom: 1cm;
  padding: 1.5cm 0cm 0cm 2.5cm;
}
.navbar-search{
  padding: 1.5cm 1cm 0cm 2.5cm;
}

#nav-bar-left {
  flex: 1;
}

#nav-bar-left .img1 {
  width: 300%;
}

#nav-bar-center {
  flex: 1; /* Chiếm 60% */
  justify-content: flex-start;
  /* margin-left: 1cm; */
}

#nav-bar-right {
  flex: 2;
  justify-content: flex-end;
  padding-right: 3px;
}

.nav-bar-items {
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  margin-right: 1em;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.back-arrow {
  font-size: 1.5em;
  margin-right: 1em;
}

.profile-summary {
  display: flex;
  flex-direction: column;
}

.profile-name .mat-icon{
  /* font-weight: bold; */
  background: linear-gradient(to right, #feecff, #181ff5  );
  background-clip: text;
  color: transparent;
}

.fleet-count {
  font-size: 0.8em;
  color: gray;
  text-align: left;
}
.icon-box {
  display: flex;
  align-items: center;
  background-color: #372d49;
  border-radius: 100px;
  padding: 8px 16px;
  margin-right: 5px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.icon-box mat-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: #666;
}
@media (max-width: 480px) {
  #nav-bar-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5em;
    width: 10px;
  }
  #nav-bar-left, #nav-bar-center, #nav-bar-right, .navbar-search {
    flex-basis: auto;
    justify-content: flex-start;
    padding: 0.5em 0.2em;
    margin-bottom: 0.2em;
  }
  #nav-bar-left {
    order: -1;
  }
  #nav-bar-center {
    order: -1;
  }
  #nav-bar-right {
    flex-direction: column;
    order: 1;
    position: fixed;
    top: 90%;
  }
  .nav-bar-items {
    font-size: 0.6em;
    margin-right: 0.5em;
  }
  .profile-name,.fleet-count{
    display: none;
  }
}
@media (max-width: 768px) {
  #nav-bar-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5em;
    width: 10px;
  }
  #nav-bar-left, #nav-bar-center, #nav-bar-right, .navbar-search {
    flex-basis: auto;
    justify-content: flex-start;
    padding: 0.5em 0.2em;
    margin-bottom: 0.2em;
  }
  #nav-bar-left {
    order: -1;
  }
  #nav-bar-center {
    order: -1;
  }
  #nav-bar-right {
    flex-direction: column;
    order: 1;
    position: fixed;
    top: 90%;
  }
  .nav-bar-items {
    font-size: 0.6em;
    margin-right: 0.5em;
  }
}
 @media (min-width: 769px) and (max-width: 1300px) {
  #nav-bar-left, #nav-bar-center, #nav-bar-right, .navbar-search {
    flex-basis: 100%;
    justify-content: center;
    padding: 0.6cm 0.3cm;
    margin-bottom: 0.3cm;
  }
  #nav-bar-right {
    justify-content: center;
  }
  .nav-bar-items {
    font-size: 0.8em;
  }
}


