<div id="nav-bar">
  <div id="nav-bar-content">

    <div id="nav-bar-left">
      <div style="font-size: 1.5em;"
      class="nav-bar-items"><img src="assets/logo-white.png" ></div>
    </div>

    <div id="nav-bar-right">
      <div *ngIf="!loggedIn()"(click)="onLoginClick()" class="nav-bar-items">Log in</div>
      <div *ngIf="loggedIn() && userHasProfile" class="nav-bar-items" >Hello, {{getUserName()}}</div>
      <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items" >Log out </div>
    </div>


  </div>
</div>

<router-outlet></router-outlet>

<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
