
#container {
  width: 100%;
  max-width: 600px;
  margin: 2cm auto;
  background-color: #272136;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


.notification {
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.mat-list-item{
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.mat-list-item:hover{
  background-color: #1f1a2a;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 98%;
}


@media (max-width: 480px) {
  #container{
    margin: 20px auto;
    padding: 10px;
    margin-top: 1cm;
    width: 60%;
  }
  #container app-sidebar{
    display: none;
  }
}
@media (max-width: 768px) {
  #container{
    margin: 20px auto;
    padding: 10px;
    margin-top: 1cm;
    width: 60%;
  }
}
 @media (min-width: 769px) and (max-width: 1300px) {
  #container{
    margin: 20px auto;
    padding: 10px;
    margin-top: 1cm;
    width: 60%;
  }
}
